{% load static %}
<script src="{% static '/js/form.js' %}"></script>
<link rel="stylesheet" href="{% static '/css/styles_strategy.css' %}">


<form id="strategy" method="POST" action="." enctype="multipart/form-data" class="w-full">{% csrf_token %}
    <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-1  place-items-center ">
        <div class="mt-5 mb-5 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-1">
            {% for field in form %}
            <div class="sm:col-span-4">
                <label for="margin" class="block text-sm font-medium leading-6 text-gray-900">{{field.label}}</label>
                <div
                    class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                    <span class="flex select-none items-center pl-3 text-gray-500 sm:text-sm"></span>
                    {{field}}
                </div>
                {% if field.name == "takeProfit" %}
                <div class="pt-2 ">
                    {% include './radiogpr.html' with idOfField=field.name %}
                </div>
                {% elif field.name == "stopLoss" %}
                <div class="pt-2 ">
                    {% include './radiogpr.html' with idOfField=field.name %}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            <div class="sm:col-span-4">
                <input class="btn btn-outline-danger" type="submit" value="start backtesting">
            </div>
        </div>
    </div>
</form>